.wrapper-footer {
	flex: 0 0 auto;
	position: relative;
	z-index: 100;
	&__footer {
		background: #f6971b;
	}

	&__copy {
		color: #000;
		font-size: 2vw;
		margin: 0 0 0 1vw;
	}

	&__nav {
		display: inline-block;
		margin: 0 0 0 20vw;
	}

	&__nav > a {
		color: #000;
		font-size: 2vw;
		padding: 0 1vw;
		&:hover {
			color: #fff;
		}
	}
}
@media (min-width: 320px) {
	.wrapper-footer {
		&__footer {
		}
		&__nav > a {
		}
	}
}
@media (min-width: 480px) {
	.wrapper-footer {
		&__nav > a {
		}
	}
}
@media (min-width: 600px) {
	.wrapper-footer {
		&__footer {
		}
	}
}

@media (min-width: 801px) {
	.wrapper-footer {
		&__footer {
		}
		&__nav > a {
		}
	}
}
@media (min-width: 1025px) {
	.wrapper-footer {
		&__footer {
		}
	}
}
@media (min-width: 1281px) {
	.wrapper-footer {
		&__footer {
		}
	}
}
