.header {
	position: fixed;
	top: 0;
	max-width: 100vw;
	z-index: 1000;

	&__container {
		background: #000;
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		font-size: 2.5vw;
		height: 5vw;
		width: 100vw;
	}
	//-----------------------------------------медиа для шапки
	@media (min-device-width: 320px) {
		.header__container {
			height: 11vw;
		}
	}
	@media (min-device-width: 480px) {
		.header__container {
			height: 9vw;
		}
	}

	@media (min-device-width: 600px) {
		.header__container {
			height: 10vw;
		}
	}
	@media (min-device-width: 801px) {
		.header__container {
			height: 10vw;
		}
	}
	@media (min-device-width: 1025px) {
		.header__container {
			height: 5vw;
			display: flex;
			justify-content: space-evenly;
		}
	}
	//--------------------------------------------сто драйв+
	&__logo-str > img {
		height: auto;
		width: 2vw;
	}
	@media (min-device-width: 320px) {
		&__logo-str > img {
			width: 30vw;
			margin: 0 0 0 -10vw;
		}
	}
	@media (min-device-width: 480px) {
		&__logo-str > img {
			height: auto;
			width: 30vw;
			margin: 0 0 0 -10vw;
		}
	}

	@media (min-device-width: 600px) {
		&__logo-str > img {
			height: auto;
			width: 30vw;
			margin: 0 0 0 -5vw;
		}
	}
	//------------------------------------Логотип авто
	&__logo-car {
		height: auto;
		width: 20vw;
	}
	@media (min-device-width: 320px) {
		&__logo-car {
			display: none;
		}
	}

	@media (min-device-width: 1025px) {
		&__logo-car {
			display: inline-block;
		}
	}
	//---------------------------контакты в шапке
	&__contacts {
		padding: 0 0 0 4vw;
		background: url(/image/icons/gps.png) no-repeat;
		background-size: 3vw;
		line-height: 1.1;
		font-size: 1.6vw;
		font-family: "Roboto", sans-serif;
	}
	@media (min-device-width: 320px) {
		&__contacts {
			display: none;
		}
	}
	@media (min-device-width: 480px) {
		&__contacts {
			display: none;
		}
	}
	@media (min-device-width: 600px) {
		&__contacts {
			display: inline-block;
			background-size: 4vw;
			line-height: 1.2;
			font-size: 3vw;
			margin: 0 0 0 -10vw;
			padding: 0 0 0 5vw;
		}
	}
	@media (min-device-width: 801px) {
		&__contacts {
			background-size: 2vw;
			padding: 0 0 0 3vw;
		}
	}

	@media (min-device-width: 1025px) {
		&__contacts {
			background-size: 2.5vw;
			background-position: left;
			font-size: 2vw;
			padding: 0 0 0 3vw;
			margin: 0 0 0 1vw;
		}
	}

	&__map > a {
		text-decoration: none;
		color: #fff;

		&:hover {
			color: #f6971b;
		}
	}

	&__phone {
		color: #fff;
	}

	&__menu {
	}
	//------------------------------------------бургер
	#btn:checked ~ .header__burger-btn > span {
		transform: rotate(45deg);
		background-color: #fff;
		-webkit-transform: rotate(45deg);
		-webkit-background-color: #fff;
	}
	#btn:checked ~ .header__burger-btn > span::before {
		top: 0;
		transform: rotate(0);
		background-color: #fff;
		-webkit-top: 0;
		-webkit-transform: rotate(0);
		-webkit-background-color: #fff;
	}
	#btn:checked ~ .header__burger-btn > span::after {
		top: 0;
		transform: rotate(90deg);
		background-color: #fff;
		-webkit-top: 0;
		-webkit-transform: rotate(90deg);
		-webkit-background-color: #fff;
	}

	//-----------------------------анимация бургера и положение меню
	#btn:checked ~ .header__list {
		visibility: visible;
		right: 5vw;
		top: 13vw;
		transition: 0.7s;
	}

	@media (min-device-width: 320px) {
		#btn:checked ~ .header__list {
			top: 11vw;
			right: 0;
		}
	}
	@media (min-device-width: 480px) {
		#btn:checked ~ .header__list {
			top: 9vw;
		}
	}

	@media (min-device-width: 600px) {
		#btn:checked ~ .header__list {
			top: 10vw;
		}
	}
	@media (min-device-width: 1025px) {
		#btn:checked ~ .header__list {
			top: 5vw;
		}
	}

	//---------чекбокс
	&__burger {
		opacity: 0;
		display: block;
	}
	//-----------положение кнопки бургера
	&__burger-btn {
		display: flex;
		align-items: flex-start;
		top: 2vw;
		right: 2vw;
		width: 2vw;
		height: 2vw;
		cursor: pointer;
		z-index: 5000;
	}

	@media (min-device-width: 320px) {
		&__burger-btn {
			position: relative;
			top: -1vw;
			right: 1vw;
		}
	}

	@media (min-device-width: 600px) {
		&__burger-btn {
			right: 5vw;
		}
	}
	@media (min-device-width: 801px) {
		&__burger-btn {
			position: relative;
			top: 0;
			right: 2vw;
		}
	}
	@media (min-device-width: 1025px) {
		&__burger-btn {
		}
	}
	//------------------------------графика бургера
	&__burger-btn > span,
	&__burger-btn > span:after,
	&__burger-btn > span:before {
		content: "";
		display: block;
		position: absolute;
		width: 3vw;
		height: 3px;
		transition: 0.7s;
		background-color: #f6971b;
	}
	@media (min-device-width: 320px) {
		&__burger-btn > span,
		&__burger-btn > span:after,
		&__burger-btn > span:before {
			width: 11vw;
		}
	}
	@media (min-device-width: 480px) {
		&__burger-btn > span,
		&__burger-btn > span:after,
		&__burger-btn > span:before {
			width: 9vw;
		}
	}

	@media (min-device-width: 600px) {
		&__burger-btn > span,
		&__burger-btn > span:after,
		&__burger-btn > span:before {
			width: 9vw;
			height: 3px;
		}
	}
	@media (min-device-width: 800px) {
		&__burger-btn > span,
		&__burger-btn > span:after,
		&__burger-btn > span:before {
			width: 5vw;
		}
	}
	@media (min-device-width: 1025px) {
		&__burger-btn > span,
		&__burger-btn > span:after,
		&__burger-btn > span:before {
			width: 6vw;
			height: 2px;
		}
	}
	@media (min-device-width: 1281px) {
		&__burger-btn > span,
		&__burger-btn > span:after,
		&__burger-btn > span:before {
			width: 5vw;
			height: 4px;
		}
	}
	//------------------линия бургера снизу
	&__burger-btn > span:after {
		top: 1vw;
	}

	@media (min-device-width: 320px) {
		&__burger-btn > span:after {
			top: 2vw;
		}
	}
	@media (min-device-width: 480px) {
		&__burger-btn > span:after {
			top: 2vw;
		}
	}
	@media (min-device-width: 600px) {
		&__burger-btn > span:after {
			top: 1.5vw;
		}
	}
	//-------------------------линия бургера сверху
	&__burger-btn > :before {
		top: -1vw;
	}

	@media (min-device-width: 320px) {
		&__burger-btn > :before {
			top: -2vw;
		}
	}
	@media (min-device-width: 480px) {
		&__burger-btn > :before {
			top: -2vw;
		}
	}
	@media (min-device-width: 600px) {
		&__burger-btn > :before {
			top: -1.5vw;
		}
	}
	//---------------------всплывашка, положение в скрытом состоянии
	&__list {
		display: block;
		position: fixed;
		visibility: hidden;
		transition: 0.7s;
		padding: 1vw 0 0 0;
		top: 11vw;
		width: 20vw;
		height: 40vw;
		right: -100vw;
		margin: 0;
		list-style: none;
		text-align: center;
		background: rgba($color: #30547d, $alpha: 0.9);
		box-shadow: 1px 0px 6px rgba(24, 5, 133, 0.2);
	}
	@media (min-device-width: 320px) {
		.header__list {
			height: 47vw;
			width: 100vw;
		}
	}
	@media (min-device-width: 480px) {
		.header__list {
			height: 50vw;
			top: 13vw;
		}
	}

	@media (min-device-width: 600px) {
		.header__list {
			height: 34vw;
			width: 40vw;
			top: 10vw;
		}
	}
	@media (min-width: 800px) {
		.header__list {
			top: 10vw;
		}
	}
	//-----------------------------пункты меню
	&__item {
		display: block;
		color: #fff;
		font-family: "Roboto", sans-serif;
		font-size: 10vw;
		line-height: 1.9;
		text-decoration: none;
		white-space: nowrap;

		//------------------------------разделительнные линии пунктов
		&:not(.last):after {
			content: "";
			display: block;
			position: absolute;
			left: 30vw;
			height: 0.5vw;
			width: 40vw;
			background: #fff;
			background: #fff;
		}
	}

	@media (min-device-width: 600px) {
		&__item:not(.last):after {
			content: "";
			left: 8vw;
			width: 25vw;
		}
	}

	@media (min-device-width: 800px) {
		&__item:not(.last):after {
			content: "";
		}
	}
	@media (min-device-width: 1025px) {
		&__item:not(.last):after {
			content: "";
			left: 8vw;
			width: 25vw;
		}
	}
	@media (min-device-width: 1281px) {
		&__item:not(.last):after {
			content: "";

			width: 25vw;
		}
	}

	@media (min-device-width: 320px) {
		&__item {
			font-size: 5vw;
		}
	}
	@media (min-device-width: 600px) {
		&__item {
			font-size: 3.5vw;
		}
	}

	@media (min-device-width: 320px) {
		&:not(.last):after {
			height: 0.5vw;
			width: 40vw;
			background: #fff;
		}
	}
	@media (min-device-width: 480px) {
		&:not(.last):after {
			height: 1vw;
			width: 40vw;
			background: #fff;
		}
	}
	//---------------наведение
	&__item:hover {
		content: "";
		color: #f6971b;
		background: rgba($color: #0a1b39, $alpha: 0.6);
	}
	@media (min-device-width: 320px) {
		&__item:checked {
			color: #f6971b;
			background: rgba($color: #0a1b39, $alpha: 0.6);
		}
	}
}
//--------------------------------при клике для мобилок

//------------------------------------
